<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <% for (prop in htmlWebpackPlugin.files.chunks) {%>
    <%= htmlWebpackPlugin.files.chunks[prop].entry %>
  <% } %>
  <%= htmlWebpackPlugin.options.entry %>
  <div id="demo"></div>
  <script src="<%= htmlWebpackPlugin.files.chunks[htmlWebpackPlugin.options.entry].entry %>"></script> 
</body>
</html>